<h1>{{titulo}}</h1>
<ul>
    <!-- CUANDO ES ARRAY ANY:
    <li *ngFor="let deportiva of zapatillas">{{deportiva}}</li>-->
       
        <li *ngFor="let deportiva of zapatillas">
            <span *ngIf="deportiva.stock">
                {{deportiva.marca}} - {{deportiva.color}} - 
                {{deportiva.precio}} - {{deportiva.stock}}
            </span> 
            <span *ngIf="deportiva.precio<90"
                        [style.background]="deportiva.precio<90?'green':'orange'">
                    En oferta
            </span>
        </li>
          
</ul>
<h2>Colores</h2>
<input type="text" [(ngModel)]="color">
<ul [ngSwitch]="color">
    <li *ngSwitchCase="'red'">
        El color es
        <span [ngStyle]="{'background':color}">rojo</span>
    </li>
    <li *ngSwitchCase="'blue'">
        El color es
        <span [ngStyle]="{'background':color}">azul</span>
    </li>
    <li *ngSwitchCase="'green'">
        El color es
        <span [ngStyle]="{'background':color}">verde</span>
    </li>
    <li *ngSwitchCase="'orange'">
        El color es
        <span [ngStyle]="{'background':color}">anaranjado</span>
    </li>
</ul>
